#!/bin/bash

echo Setting the project-specific commit template
git config commit.template .git-commit-template

echo Setting custom Git hooks folder
git config core.hooksPath .githooks

echo Setting formatter
chmod +x ./common/developer/formatter/custom-fmt.sh

echo Installing necessary dependencies
npm install --silent
